<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-light">На главную</button>
    </div>
    <div class="info">
        <strong>Тут автор</strong>
        <small>12.07.2019</small>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo in laboriosam libero porro
                sequi, voluptatibus. Accusantium dolorum facilis fugiat illum non praesentium quod sapiente voluptatem!
                Dolor, eum molestiae nemo odit omnis quidem quisquam repellat voluptas! Cum, dicta est eum fugit ipsam
                provident quas quisquam temporibus unde veniam. Accusantium, laboriosam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo in laboriosam libero porro
                sequi, voluptatibus. Accusantium dolorum facilis fugiat illum non praesentium quod sapiente voluptatem!
                Dolor, eum molestiae nemo odit omnis quidem quisquam repellat voluptas! Cum, dicta est eum fugit ipsam
                provident quas quisquam temporibus unde veniam. Accusantium, laboriosam.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias explicabo in laboriosam libero porro
                sequi, voluptatibus. Accusantium dolorum facilis fugiat illum non praesentium quod sapiente voluptatem!
                Dolor, eum molestiae nemo odit omnis quidem quisquam repellat voluptas! Cum, dicta est eum fugit ipsam
                provident quas quisquam temporibus unde veniam. Accusantium, laboriosam.
            </p>
        </div>
    </div>
</div>
